.one{ font-family: 'Courier New', Courier, monospace;  color: blue; border: 7px solid red; border-radius: 3px; 
text-align: center; padding: 5px; margin: 50px;
}
h1{ color:rgb(19, 91, 56); }
.three {color: rgb(0, 255, 42);}